.sidebar {
  flex-basis: calc(100% * 1 / 4 - 1rem);
  &-header {
  background: black;
  color: white;
}

&__frame {
  position: relative;
  flex-grow: 1;
}
 &__img {
  position: absolute;
  top: 1rem;
  right: 1rem;
  bottom: 1rem;
  left: 1rem;
  width: calc(100% - 2rem);
  height: calc(100% - 2rem);
  object-fit: contain;
}
}

.btn {
  background: rgba(222, 120, 61, 1.0);
}


.img-switcher {
  display: flex;
  background: rgba(55, 65, 64, 1.0);

}
